.display{
    display: flex;
}

.sound-box{
    background-color: rgb(197, 197, 197);
    width: 600px;
    height: 800px;
    position: absolute;
    left: calc(50% - 300px);
    border-radius: 20px;
}

.music-image{
    width: 300px;
    height: 300px;
    position: relative;
    left: calc(50% - 300px);
    top: 50px;
    margin: 0px 40px 15px 40px;
    display: inline-block;
}

.song-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 40px;
    margin: 5px;
}

h4{
    font-weight: normal;
    margin: 20px;
}

h4:nth-child(1){
    font-size: 24px;
    font-weight: bold;
}

h4:nth-child(2){
    font-size: 16px;
}

hr{
    border: 1px solid black;
    margin-top: 90px;
    width: 70%;
}

.skip-media{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.skip-next{
    display: inline-block;
    position: relative;
    top: 165px;
    cursor: pointer;
}

.skip-previous{
    display: inline-block;
    position: relative;
    top: 165px;
    cursor: pointer;
}

.media-control{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    margin: 0px;
    justify-content: space-evenly;
}

.pause-play-control{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.replay-control{
    position: relative;
    display: inline-block;
    margin-top: 27px;
    cursor: pointer;
}

.shuffle-control{
    position: relative;
    display: inline-block;
    margin-top: 27px;
    cursor: pointer;
}

.progress{
    margin-top: 70px;
    position: relative;
    margin-left: 200px;
}
.time{
    width: 100px;
}

input[type="range"]{
    --range-progress: 50%;
}

input[type="range"]::before{
    background: #f50;
    width: var(--range-progress)
}

.button{
    display: inline-block;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: calc(100*2px);
    height: 100px;
    position: relative;
    left: 20px;
    top: 20px;
}

@media screen and (max-width: 1100px) {
    .button{
        width: calc(50px);
        height: 50px;
    }
  }