.sound-box{
    background-color: rgb(197, 197, 197);
    width: 600px;
    height: 800px;
    position: relative;
    left: calc(50% - 300px);
    border-radius: 20px;
}

.music-image{
    width: 300px;
    height: 300px;
    position: relative;
    left: calc(50% - 300px);
    top: 50px;
    margin: 0px 40px 20px 40px;
    display: inline-block;
}

.song-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 40px;
    margin: 10px;
}

.song-info > label{
    margin: 15px;
}

.media-control{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    margin: 0px;
    justify-content: space-evenly;
}

.pause-control{
    position: relative;
    display: inline-block;
}

.replay-control{
    position: relative;
    display: inline-block;
    margin-top: 12px;
}

.shuffle-control{
    position: relative;
    display: inline-block;
    margin-top: 12px;
}

hr{
    border: 1px solid black;
    margin-top: 80px;
    width: 70%;
}

.skip-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skip-next{
    display: inline-block;
    position: relative;
    top: 165px;
}

.skip-previous{
    display: inline-block;
    position: relative;
    top: 165px;
}