.sound-box{
    background-color: rgb(197, 197, 197);
    width: 500px;
    height: 800px;
    position: relative;
    left: calc(50% - 250px);
    border-radius: 20px;
}

.music-image{
    width: 300px;
    height: 300px;
    position: relative;
    left: calc(50% - 150px);
    top: 50px;
    margin: 10px;
    /* border-radius: 10px; */
}

.song-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 40px;
    margin: 10px;
}

.song-info > label{
    margin: 15px;
}

.media-control{
    display: flex;
    flex-direction: row;
    padding-top: 175px;
    margin: 0px;
    justify-content: space-evenly;
}

.pause-control{
    position: relative;
    display: inline-block;
}

.replay-control{
    position: relative;
    display: inline-block;
    margin-top: 12px;
}

.shuffle-control{
    position: relative;
    display: inline-block;
    margin-top: 12px;
}